/*COLORS USED IN THIS PAGE
white font: #f4f5f5;
grey font: #606060;
search input grey: #f2f2f2;
blue: #007bff;
light blue: #47a0ff;
*/

		/*---------------BASIC CLASS------------*/
* {
    margin: 0;
    padding: 0;
    border: 0;
    /*line-height: 1.4em;*/
    vertical-align: baseline;
    text-decoration: none;
    outline: 0;
}

body{
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
}

.floatLeft{
	float: left;
}

.floatRight{
	float: right;
}

.clear{
	clear: both;
}

.container{
	max-width: 1350px;
	/*background-color: red;*/
	margin: auto;
}

a{
	color: #f4f5f5;
}

.displayBlock{
	display: block;
}


		/*-----------Social buttons and hr -------*/
.mainMenu{
	background-image: url("img/landscape-background.jpg");
	background-size: 100% auto;
	width: 100%;
	height: 665px;
	color: #f4f5f5;
	position: relative;
}

.socialBackgroundColor{
	background-color: rgba(0,0,0,0.8);
}

.fontSizeSocial{
	font-size: 0.9em;
}

.marginRight15{
	margin-right: 15px;
}

.wrapperSocial{
	width: 90%;
	margin: auto;
	padding-top: 8px;
}

.wrapperSocial > div:nth-of-type(1){
	/*background-color: red;*/
	width: 50%;
}

.wrapperSocial > div:nth-of-type(2){
	width: 50%;
	/*background-color: green;*/
}

.wrapperSocial > div > div > p{
	display: inline;
	margin-left: 5px;
}

.wrapperSocial > div:nth-of-type(1) > div:nth-child(n+2){
	margin-left: 5%;
}

.wrapperSocial > div:nth-of-type(2) > div > a:nth-of-type(-n+5){
	/*color: red;*/
	margin-right: 20px;
}

.wrapperSocial > div:nth-of-type(2) > div > a:last-child{
	padding-left: 15px;
	border-left: 1.5px solid #3e434a;
}

hr{
	height: 1px;
	background-color: #3e434a;
	width: 100%;
	margin-top: 2px;
}



		/* --------- LOGO ------------*/
.logo{
	width: 17%;
	margin-bottom: 15px;
	font-weight: 700;
}

.logo > div > p:nth-of-type(1){
	font-size: 1.8em;
	line-height: 1em;
}

.logo span{
	color: #007bff;
}

.logo > div > p:nth-of-type(2){
	text-transform: uppercase;
	font-size: 0.8em;
	font-weight: 400;
}




		/*------------MAIN MENU -------------*/
.mainMenuSection{
	width: 88%;
	margin: 15px auto 0 auto;
	/*background-color: green;*/
}

.menu{
	font-size: 1.2em;
	font-weight: 400;
	width: 600px;
	margin-top: 8px;
}

nav{
	/*width: 100%;*/
}

ul li{
	list-style: none;
	display: inline-block;
}

ul a{
	/*background-color: red;*/
}

ul a:nth-of-type(-n+5){
	margin-right: 15px;
}

ul a:hover{
	color: #007bff;
	font-size: 1.3em;
	width: 55px;
}


		/*-------------INFO TEXT--------------*/
.infoAboutPage{
	margin-left: 100px;
	width: 580px;
}

h1{
	margin-top: 250px;
	font-size: 2.2em;
}

.infoAboutPage p{
	font-size: 1.2em;
	margin-top: 7px;
	margin-left: 125px;
	letter-spacing: 1.5px;
}

.loremIpsum{
	margin-top: 250px;
}


		/*-------------SEARCH TOURS----------*/
.searchTours{
	background-color: white;
	width: 350px;
	height: 400px;
	z-index: 1;
	position: absolute;
	left: 620px;
	top: 200px;
	text-align: center;
}

h2{
	color: #606060;
	font-weight: 700;
	font-size: 2.2em;
	margin-top: 15px;
}

.searchTours p{
	color: #606060;
	margin-bottom: 15px;
}

.searchTours button{
	background-color: #007bff;
	color: white;
	font-weight: 700;
}

.searchTours button:hover{
	cursor: pointer;
	background-color: #006aee;
}

.searchTours ::-webkit-input-placeholder{
	color: #606060;
}

.searchTours input, .searchTours select, .searchTours button{
	margin: 15px auto 0 auto;
	height: 40px;
	width: 280px;
	border-radius: 5px;
}

.searchTours input, .searchTours select{
	background-color: #f2f2f2;
	color: #606060;
	padding-left: 10px;
}

.searchTours select, .searchTours button{
	margin-top: 15px;
}


		/*---------FIND TOUR BY TYPE----------*/
.tourByType{
	background-image: url(img/lake-mountains.jpg);
	background-repeat: no-repeat;
	background-size: 100% auto;
	height: 700px;
}

.tourByTypeBackgroundColor{
	background-color: rgba(0,0,0,0.8);
}

.tourTypeOption{
	display: inline-block;
}

.tourTypeOption img{
	width: 40px;
	height: 40px;
}